.container{
  height: 10rem !important;
  width: 20rem !important;
  display: flex;
  justify-content: center;
}


.container .box
{
  background-color: #ff5d5d;
  color: white;
  height: 45vh;
  width: 30vh;
  border-radius: 5vh;
  border: black 5px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.container .box2
{
  display: flex;
  background-color: black;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 30rem;
  padding: 10px;
}
.container .box2 h1
{
  
  font-size: 2rem;
  
}

.container .box h1
{
  border-color: black 5px solid;
  text-shadow: 3px 2px black;
}


.container .box input
{
  background-color: white;
  color: black;
  font-weight: 700;
  border-radius: 3rem;
  height: 3rem;
  width: 150px;
  font-size: large;
  text-align: center;
  border: black 2px solid;
}



.container .box button
{
  background-color: rgb(39, 190, 204);
  color: black;
  font-weight: 700;
  border-radius: 3rem;
  height: 3rem;
  width: 100px;
  font-size: large;
  text-align: center;
  border: black 2px solid;
}


@media screen and (min-width: 768px) {
  .container{
    height: 10rem !important;
    width: 30rem !important;
    display: flex;
    
  }
  
  .container .box
  {
    background-color: #ff5d5d;
    color: white;
    height: 40rem;
    width: 50rem;
    border-radius: 5vh;
    border: black 5px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  .container .box h1
  {
    border-color: black 5px solid;
    text-shadow: 3px 2px black;
    font-size: 3rem;
  }
  .container .box h2
  {
    border-color: black 5px solid;
    text-shadow: 3px 2px black;
    font-size: 2rem;
  }
  
  
  .container .box input
  {
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 3rem;
    height: 3.5rem;
    width: 250px;
    font-size: large;
    text-align: center;
    border: black 2px solid;
  }
  
  
  
  .container .box button
  {
    background-color: rgb(39, 190, 204);
    color: black;
    font-weight: 700;
    border-radius: 3rem;
    height: 3.5rem;
    width: 100px;
    font-size: large;
    text-align: center;
    border: black 2px solid;
  }


  .container .box2
  {
    display: flex;
    background-color: black;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 30rem;
  }
  
}
  
